@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


//leave the global custom style here

html, body {
  height: 100%;
  min-height: 100%;

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
  }
}

.blog-quote {
  margin: 0;
  padding: 20px 50px !important;
  color: #555 !important;
  background: #eee;
  font-style: italic;
  font-size: 1.3em;
  letter-spacing: 1.2px;
  line-height: 25px;
  border-radius: 15px 50px 30px 5px;
  border: 0 !important;
  word-wrap: break-word;
}
